<article class="post">
  <h1 class="post__title"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
  <div class="post-meta">
    <div class="post-meta__item">
      <date class="post-date">{{ .Date.Format "2006/6/2" }}</date>
    </div>
    <div class="post-meta__item">
      <ul class="post-tags">
        {{ range .Params.tags }}
        <li class="post-tags__item"><a href="/tags/{{.}}">{{.}}</a></li>
        {{ end }}
      </ul>
    </div>
  </div>
  <div class="post__body">
    <p>{{ .Summary }}[...]</p>
    <p class="read-more"><a href="{{ .Permalink }}">Read more</a></p>
  </div>
</article>
